<!DOCTYPE html>
<html>
<head>
    <title>Live Chart</title>
    <link rel="stylesheet" href="/static/style2.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="sidebar">
        <h3 class="sidebar-title">대시보드</h3>
        <ul>
            <li><a href="/">Dashboard</a></li>
            <li><a href="/results">Table</a></li>
            <li>메뉴 3</li>
            <li>메뉴 4</li>
        </ul>
    </div>
    <div class="main-content">
        <div class="widget">
            <h2>위젯 1</h2>
            <div class="chart-container">
                <canvas id="myChart"></canvas>
            </div>
        </div>
        <div class="widget">
            <h2>Temperature</h2>
            <div id="temperatureValue">
                <h3><span id="tempValue">N/A</span>&#8451;</h3>
            </div>
        </div>
    </div>
    <script src="/static/main.js"></script>
    <script>
        $(document).ready(function() {
            var sensorData = {{ sensor_data|tojson }};
            var ctx = document.getElementById('myChart').getContext('2d');
            var chart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: Array.from({length: sensorData.length}, (_, i) => sensorData[i].label),
                    datasets: [
                        {
                            label: 'Temperature',
                            data: sensorData.map(d => d.Dht11[0]),
                            borderColor: 'rgba(255, 99, 132, 1)',
                            borderWidth: 1,
                            fill: false
                        },
                        {
                            label: 'Light',
                            data: sensorData.map(d => d.Solar),
                            borderColor: 'rgba(255, 205, 86, 1)',
                            borderWidth: 1,
                            fill: false
                        }
                    ]
                },
                options: {
                    responsive: false,
                    maintainAspectRatio: false,
                    scales: {
                        x: {
                            grid: {
                                color: 'rgba(0, 0, 0, 0.5)', // Set grid color to white with 10% opacity
                                borderColor: 'rgba(0, 0, 0, 0.5)', // Set border color to white with 10% opacity
                            },
                            ticks: {
                                color: 'black', // Set labels color to white for x-axis
                            }
                        },
                        y: {
                            grid: {
                                color: 'rgba(0, 0, 0, 0.5)', // Set grid color to white with 10% opacity
                                borderColor: 'rgba(0, 0, 0, 0.5)', // Set border color to white with 10% opacity
                            },
                            ticks: {
                                color: 'black', // Set labels color to white for y-axis
                            },
                            beginAtZero: true
                        }
                    }
                },
            });
            
            function updateTemperatureValue(tempValue) {
                document.getElementById('tempValue').innerText = tempValue.toFixed(1);
            }

            function updateChart() {
                $.getJSON("/update-data", function(newData) {
                    sensorData.push(newData);
                    if (sensorData.length > 10) {
                        sensorData.shift();
                    }
                    chart.data.labels = Array.from({length: sensorData.length}, (_, i) => sensorData[i].label);
                    chart.data.datasets[0].data = sensorData.map(d => d.Dht11[0]);
                    chart.data.datasets[1].data = sensorData.map(d => d.Solar);
                    chart.update();
                    
                    updateTemperatureValue(newData.Dht11[0]);
                });
            }

            setInterval(updateChart, 4000); // Update chart every 4 seconds
        });
    </script>
</body>
</html>
